
button {
	@extend .btn;
	@extend .btn-default;
	margin: 5px 5px 5px 0px;
}
.btn-new {

	@extend .btn-success;
	//@extend .btn-lg;
}
.btn-back {
	@extend .btn-info;
	@extend .btn-lg;
}





.app-screen {
	.btn {
		transition: background-color 0.2s ease;
	}

	.btn-link {
		font-weight: 300;
	}
}
