
button {
	@extend .btn;
	@extend .btn-default;
	margin: 5px 5px 5px 0px;
}
.btn-new {

	@extend .btn-success;
	@extend .btn-lg;
}
.btn-new  i {

	padding-right: 5px;
}
.btn-back {
	@extend .btn-info;
	@extend .btn-lg;
}
.btn-back  i {

	padding-right: 5px;
}