/*
 * Variables...
 */

$border-radius-base: 0;
$brand-primary: #2B5A84;
$active-icon-color: #6CC94D;
$btn-border-radius-base: 4px;
$btn-font-weight: 300;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$navbar-height: 65px;

@import "variables";

/*
 * Bootstrap CSS...
 */

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";


/**
 * Elements
 */

@import "../elements/elements";

@import "elements/buttons";
@import "elements/forms";
@import "elements/modals";
@import "elements/panels";
@import "elements/tooltips";
@import "elements/fullcalendar";

/**
 * Components
 */

@import "components/tabs";
//pages
@import "../pages/dashboard/style";
@import "../pages/roles/style";
@import "../pages/user/style";

html {
  min-height: 100%;
  position: relative;
}

body {
  font-weight: 300;
  margin-bottom: 80px;
  padding-top: 75px;
  background-color: white;
}

[v-cloak] {
  display: none;
}




