<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="all">
            <file>tests/setup/EnvironmentTest.php</file>
            <file>tests/database/craiglorious/CraigloriousDatabaseTest.php</file>
            <file>tests/database/TenantDatabaseTest.php</file>
            <file>tests/database/demo/DemoDatabaseTest.php</file>
            <file>tests/database/NewCompany/NewCompanyDatabaseTest.php</file>
            <file>tests/database/EmbrasseMoi/EmbrasseMoiDatabaseTest.php</file>




            <file>tests/api/LoginTest.php</file>
            <file>tests/api/RoleTest.php</file>
            <file>tests/api/UserTest.php</file>
            <file>tests/api/RegisterTest.php</file>
            <file>tests/api/VendorTest.php</file>
            <file>tests/api/AccountTest.php</file>
            <file>tests/api/EmployeeTest.php</file>
            <file>tests/api/LocationTest.php</file>
            <file>tests/api/AccountTest.php</file>
            <file>tests/api/CustomerTest.php</file>
            <file>tests/File/CsvTest.php</file>



        </testsuite>
        <testsuite name="env">
            <file>tests/setup/EnvironmentTest.php</file>
        </testsuite>
        <testsuite name="craiglorious">
            <file>tests/database/craiglorious/CraigloriousDatabaseTest.php</file>
        </testsuite>
        <testsuite name="demo">
            <file>tests/database/demo/DemoDatabaseTest.php</file>
        </testsuite>
        <testsuite name="em">
            <file>tests/database/EmbrasseMoi/EmbrasseMoiDatabaseTest.php</file>
        </testsuite>
        <testsuite name="newcompany">
            <file>tests/database/NewCompany/NewCompanyDatabaseTest.php</file>
        </testsuite>
        <testsuite name="pro">
            <file>tests/database/production/ProductionDatabaseTest.php</file>
        </testsuite>
        <testsuite name="schedule">
            <file>tests/api/ScheduleTest.php</file>
        </testsuite>







        <testsuite name="login">
            <file>tests/api/LoginTest.php</file>
        </testsuite>
        <testsuite name="register">
            <file>tests/api/RegisterTest.php</file>
        </testsuite>
        
        <testsuite name="vendors">
            <file>tests/api/VendorTest.php</file>
        </testsuite>
        <testsuite name="locations">
            <file>tests/api/LocationTest.php</file>
        </testsuite>
        <testsuite name="employees">
            <file>tests/api/EmployeeTest.php</file>
        </testsuite>

        <testsuite name="accounts">
            <file>tests/api/AccountTest.php</file>
        </testsuite>
        <testsuite name="customers">
            <file>tests/api/CustomerTest.php</file>
        </testsuite>

        <testsuite name="csv">
            <file>tests/File/CsvTest.php</file>
        </testsuite>

        <testsuite name="cal">
            <file>tests/api/CalendarEntryTest.php</file>
        </testsuite>
        <testsuite name="schedule">
            <file>tests/api/ScheduleTest.php</file>
        </testsuite>
        <testsuite name="payroll">
            <file>tests/accounting/PayrollTest.php</file>
        </testsuite>

        <testsuite name="bill">
            <file>tests/api/BillTest.php</file>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_PREFIX" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
